{% extends 'blog/base.html' %}

{% block content %}
<div class="jumbotron">
  <h1>About me:</h1>
  <h3>Thanks for visiting my blog! Check all this cool stuff about the Pop Culture!</h3>
  <p>Popular culture is generally recognized by members of a society as a set of the practices, beliefs, and objects that are dominant or prevalent in a society at a given point in time.</p>
  <br>
  <h3>Feel free to raed any posts already created by the Admin.</h3>
  <br>
  <p><em>the feature to add posts will be coming soon...very soon!</em></p>
</div>


{% endblock %}
